.App {
  text-align: center;
}

.App-logo {
  border-radius: 2%;
  cursor: pointer;
}

.App-logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake { 
  0%{transform: translate(1px, 1px) rotate(0deg);}
  10%{transform: translate(-1px, -2px) rotate(-1deg);}
  20%{transform: translate(-2px, 0px) rotate(1deg);}
  30%{transform: translate(2px, 2px) rotate(0deg);}
  40%{transform: translate(1px, -1px) rotate(1deg);}
  50%{transform: translate(-1px, 2px) rotate(-1deg);}
  60%{transform: translate(-2px, 1px) rotate(0deg);}
  70%{transform: translate(2px, 1px) rotate(-1deg);}
  80%{transform: translate(-1px, -1px) rotate(1deg);}
  90%{transform: translate(1px, 2px) rotate(0deg);}
  100%{transform: translate(1px, -2px) rotate(-1deg);}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #61dafb;
  font-size: 1.5em;
}

.App-p {
  font-size: 1.1em;
  color: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
}

button {
  width: 15%;
  height: 50px;
  font-size: 0.9em;
  font-weight: 550;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  background-color: #ffffff;
}

button:hover {
  background-color: #61dafb;
}

button:active {
  background-color: rgb(206, 82, 37);
  color: #ffffff;
}






